<div class="login">
  <a class="button is-info is-outlined" {{action 'authenticate'}}>
    <span class="icon">
      {{fa-icon "facebook-official"}}
    </span>
    <span>Login with Facebook</span>
  </a>
</div>
