@import '../../vendor/bulma/bulma';

//override
.nav-item img {
  max-height: none;
}

.main {
  display: flex;
  justify-content: center;
}

.holder {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after{
    clear: both;
  }
}

.holder-item {
  float: left;
}

.user-holder {
  max-width: 250px;
}

.user-list {
  li {
    float: left;
  }
}

.user-item {
  display: flex;
  align-items: center;
  margin-top: 1px;

  img {
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: 0.3rem solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.icon {
  margin-right: 0.5rem;
}
