<section class="hero">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <div class="nav-item">
            Doodle With Mates
          </div>
        </div>

        <div class="nav-center">

        </div>

        <div class="nav-right nav-menu">
          <div class="nav-item">
            {{logout-button}}
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <main class="main">
      <div class="holder">
        <div class="user-holder holder-item">
          {{user-list users=users}}
        </div>
        <div class="canvas-holder holder-item">
          {{canvas-panel color=color socket=socket layers=users}}
        </div>
      </div>
    </main>
  </div>
</section>
{{outlet}}
